html,
body {
  margin: 0;
  padding: 0;
}

/* General Styles */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: var(--white);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Font Styles */
h1 {
  font-family: "Montserrat";
}

/* Apply Montserrat to h2 tags */
h2 {
  font-family: "Montserrat";
}

/* Apply Quicksand to paragraphs */
p {
  font-family: "Montserrat";
}

/* Apply Roboto as the default font for the body */
body {
  font-family: "Montserrat";
}
footer {
  font-family: "Montserrat";
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  float: right;
  background-color: white;
  width: 100%; /* Full viewport width */
  box-sizing: border-box; /* Prevents padding from adding extra width */
}
.homepage {
  font-weight: bold;
  font-size: 20px;
  margin: 0px 0px 0px 30px;
  color: black;
  text-decoration: none;
}

nav p {
  font-weight: bold;
  font-size: 20px;
  margin: 0px 0px 0px 30px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 20px 45px;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.introduction {
  text-align: center;
  padding-top: 120px; /* Adds space below the header */
  padding-bottom: 40px;
}
.introduction h1 {
  font-size: 40px;
}

.introduction p {
  font-size: 30px;
  width: 50%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 100px; /* Adjust this value as needed */
}

/* Places4Students Section */

.item-1 p {
  width: 80%;
  font-size: 24px;
}

.learn-more {
  border: 2px solid black;
  border-color: black;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat";
  margin: 4px 2px;
  cursor: pointer;
}

.icons1 {
  display: flex;
  justify-content: left;
  gap: 30px;
}

.item-1 {
  display: flex;
  justify-content: center; /* Aligns content to the left */
  align-items: center; /* Vertically aligns the content */
  margin: 0px 50px 0px 50px;
  gap: 50px; /* Removes any space between the right content and the image */
}

.left-content1 {
  width: 400px;
}

.right-content1 {
  max-height: 375px;
  width: auto;

  display: flex;
  justify-content: flex-start; /* Aligns content to the left */
}

.phoneimg1 {
  max-height: 375px; /* Ensures the image is responsive */
  width: auto; /* Keeps the image aspect ratio intact */
}
.desktopimg1 {
  max-height: 400px; /* Ensures the image is responsive */
  height: auto; /* Keeps the image aspect ratio intact */
}

/* H&M Section */
.item-2 p {
  width: 80%;
  font-size: 24px;
}

.learn-more {
  border: 2px solid black;
  border-color: black;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat";
  margin: 4px 2px;
  cursor: pointer;
}

.icons2 {
  display: flex;
  justify-content: left;
  gap: 30px;
}

.item-2 {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically aligns the content */
  margin: 0px 50px 0px 50px;
  gap: 50px; /* Removes any space between the right content and the image */
}

.left-content2 {
  width: 450px;
}

.right-content2 {
  margin-left: 10px;
  display: flex;
  justify-content: flex-start; /* Aligns content to the left */
  align-items: center; /* Vertically aligns the content */
}

.desktopimg2 {
  max-height: 260px; /* Ensures the image is responsive */
  height: auto; /* Keeps the image aspect ratio intact */
}

.desktopimg3 {
  max-height: 260px; /* Ensures the image is responsive */
  height: auto; /* Keeps the image aspect ratio intact */
}

/* Barwaqo Fashion Section */
.item-3 p {
  width: 80%;
  font-size: 24px;
}

.learn-more {
  border: 2px solid black;
  border-color: black;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat";
  margin: 4px 2px;
  cursor: pointer;
}

.icons3 {
  display: flex;
  justify-content: left;
  gap: 30px;
}

.item-3 {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically aligns the content */
  margin: 0px 50px 0px 50px;
  gap: 50px; /* Removes any space between the right content and the image */
}

.left-content3 {
  width: 400px;
}

.right-content3 {
  margin-left: 50px;
  display: flex;
  justify-content: flex-start; /* Aligns content to the left */
  align-items: center; /* Vertically aligns the content */
}

.phoneimg2 {
  max-height: 400px; /* Ensures the image is responsive */
  width: auto; /* Keeps the image aspect ratio intact */
}

.rectangle {
  width: 90%; /* Adjust width as needed */
  height: 10px; /* Adjust height as needed */
  background-color: #000000; /* Change color */
  margin: 20px auto; /* Centers it horizontally */
}

/*Footer*/
footer {
  background-color: #ffffff;
  text-align: center;
  padding: 20px 0;
  margin: 0px;
}

.social-links {
  margin-top: 20px; /* Add space between social links and footer links */
}
.email {
  text-decoration: none;
  color: black;
}

.footer-links a,
.social-links a {
  color: #000000;
  margin: 0 10px;
  text-decoration: none;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically aligns the content */
  gap: 10px;
}

.social-links img {
  width: 30px; /* Adjusts the width of the actual icons */
  height: auto; /* Keeps aspect ratio */
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */
/* Mobile Portrait (up to 480px) */
@media screen and (max-width: 480px) {
  nav {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align items */
    padding: 15px 20px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
  }

  nav p {
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 0px 30px;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-links li {
    margin: 30px 25px;
  }

  .nav-links a {
    text-decoration: none;
    color: black;
  }
  .introduction p {
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
  }
  .item-1,
  .item-2,
  .item-3 {
    display: flex;
    flex-direction: column; /* Stack left and right content vertically */
    justify-content: flex-start; /* Ensure the content starts from the top */
    align-items: center; /* Center content horizontally */
    margin: 0px;
    gap: 50px; /* Space between content */
  }

  .item-1 p,
  .item-2 p,
  .item-3 p {
    width: 100%;
  }

  .learn-more {
    width: 100%;
  }

  .right-content1 {
    margin-left: 10px;
    display: flex;
  }

  .right-content2 {
    margin-left: 10px;
    display: flex;
  }

  .right-content3 {
    margin-left: 10px;
    display: flex;
  }

  .left-content1 {
    width: 300px;
  }

  .left-content2 {
    width: 300px;
  }

  .left-content3 {
    width: 300px;
  }
  .phoneimg1 {
    max-height: 180px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }
  .desktopimg1 {
    max-height: 180px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }

  .desktopimg2 {
    max-height: 130px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }

  .desktopimg3 {
    max-height: 130px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }
  .phoneimg2 {
    max-height: 180px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }
}

/* Mobile Landscape (481px to 767px) */
@media screen and (min-width: 481px) and (max-width: 767px) {
  nav {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align items */
    padding: 15px 20px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
  }

  nav p {
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 0px 30px;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-links li {
    margin: 30px 45px;
  }

  .nav-links a {
    text-decoration: none;
    color: black;
  }
  .introduction p {
    font-size: 30px;
    width: 90%;
    margin: 0 auto;
  }
  .item-1,
  .item-2,
  .item-3 {
    display: flex;
    flex-direction: column; /* Stack left and right content vertically */
    justify-content: flex-start; /* Ensure the content starts from the top */
    align-items: center; /* Center content horizontally */
    margin: 0px;
    gap: 50px; /* Space between content */
  }

  .item-1 p,
  .item-2 p,
  .item-3 p {
    width: 100%;
  }

  .learn-more {
    width: 100%;
  }

  .right-content1 {
    margin-left: 10px;
    display: flex;
  }

  .right-content2 {
    margin-left: 10px;
    display: flex;
  }

  .right-content3 {
    margin-left: 10px;
    display: flex;
  }

  .left-content1 {
    width: 400px;
  }

  .left-content2 {
    width: 400px;
  }

  .left-content3 {
    width: 400px;
  }
  .phoneimg1 {
    max-height: 225px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }
  .desktopimg1 {
    max-height: 225px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }

  .desktopimg2 {
    max-height: 170px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }

  .desktopimg3 {
    max-height: 170px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }
  .phoneimg2 {
    max-height: 225px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }
}

/* Tablet (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .introduction p {
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
  }
  .item-1,
  .item-2,
  .item-3 {
    display: flex;
    flex-direction: column; /* Stack left and right content vertically */
    justify-content: flex-start; /* Ensure the content starts from the top */
    align-items: center; /* Center content horizontally */
    margin: 0px 50px;
    gap: 50px; /* Space between content */
  }

  .item-1 p,
  .item-2 p,
  .item-3 p {
    width: 100%;
  }

  .learn-more {
    width: 100%;
  }

  .right-content1 {
    margin-left: 10px;
    display: flex;
  }

  .right-content2 {
    margin-left: 10px;
    display: flex;
  }

  .right-content3 {
    margin-left: 10px;
    display: flex;
  }

  .left-content1 {
    width: 700px;
  }

  .left-content2 {
    width: 700px;
  }

  .left-content3 {
    width: 700px;
  }
  .phoneimg1 {
    max-height: 350px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }
  .desktopimg1 {
    max-height: 350px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }

  .desktopimg2 {
    max-height: 250px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }

  .desktopimg3 {
    max-height: 250px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }
  .phoneimg2 {
    max-height: 400px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }
}

/* Laptop and Small Desktop (1025px to 1200px) */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .introduction p {
    font-size: 30px;
    width: 70%;
    margin: 0 auto;
  }
  .phoneimg1 {
    max-height: 280px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }
  .desktopimg1 {
    max-height: 300px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }

  .desktopimg2 {
    max-height: 200px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }

  .desktopimg3 {
    max-height: 200px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }
  .phoneimg2 {
    max-height: 300px; /* Ensures the image is responsive */
    width: auto; /* Keeps the image aspect ratio intact */
  }

  .item-1 {
    display: flex;
    justify-content: center; /* Aligns content to the left */
    align-items: center; /* Vertically aligns the content */
    margin: 0px 50px 0px 50px;
    gap: 0px; /* Removes any space between the right content and the image */
  }

  .item-2 {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically aligns the content */
    margin: 0px 50px 0px 50px;
    gap: 0px; /* Removes any space between the right content and the image */
  }

  .item-3 {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically aligns the content */
    margin: 0px 50px 0px 50px;
    gap: 0px; /* Removes any space between the right content and the image */
  }
}

/* Large Desktop (1201px and up) */
@media screen and (min-width: 1201px) {
}
